<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Willie Weatherspoon">
    <meta name="description" content="Creative writing progress tracker">
    <meta name="keywords" content="writing, tracker, novels, comics, games">
    <title>{{title}} | Writing Tracker</title>
    <link rel="stylesheet" href="/stylesheets/finalshome.css">
    </head>
<body>

<header>
    <section id="Writingstyle" class="writing-card">
        <h1>Akashic Records</h1>

        <nav>
            <ul>
                <li>
                    <img src="/images/novels.jpg" alt="Novels">
                    <a href="/novels.html">Novels</a>
                </li>
                <li>
                    <img src="/images/comics.jpg" alt="Comics">
                    <a href="/comics.html">Comics</a>
                </li>
                <li>
                    <img src="/images/manga.jpg" alt="Manga">
                    <a href="/manga.html">Manga</a>
                </li>
                <li>
                    <img src="/images/vgs.jpg" alt="Games">
                    <a href="/games.html">Games</a>
                </li>
                <li>
                    <img src="/images/shortst.jpg" alt="Short Stories">
                    <a href="/shortstory.html">Short Stories</a>
                </li>
                <li>
                    <img src="/images/wbg.jpg" alt="Worldbuilding">
                    <a href="/worldbuilding.html">Worldbuilding</a>
                </li>
            </ul>
        </nav>

        <a href="/videos/video1286326048.mp4" class="video-btn">Video</a>
    </section>
</header>

<main>
    {{{body}}}
</main>

<script src="/javascripts/finals.js" defer></script>
</body>
</html>