<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}} | Writing Tracker</title>
    <meta name="author" content="Willie Weatherspoon">
    <meta name="description" content="Creative writing progress tracker">
    <meta name="keywords" content="writing, tracker, novels, comics, games">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/finalscss/finals.css">
</head>
<body>

<header>
    <section id="Writingstyle" class="writing-card">
        <h1>Akashic Records</h1>

        <nav>
            <ul>
                <li>
                    <img src="/finalimages/novels.jpg" alt="Novels">
                    <a href="/novels">Novels</a>
                </li>

                <li>
                    <img src="/finalimages/comics.jpg" alt="Comics">
                    <a href="/comics">Comics</a>
                </li>

                <li>
                    <img src="/finalimages/manga.jpg" alt="Manga">
                    <a href="/manga">Manga</a>
                </li>

                <li>
                    <img src="/finalimages/vgs.jpg" alt="Games">
                    <a href="/games">Games</a>
                </li>

                <li>
                    <img src="/finalimages/shortst.jpg" alt="Short Stories">
                    <a href="/shortstory">Short Stories</a>
                </li>

                <li>
                    <img src="/finalimages/wbg.jpg" alt="Worldbuilding">
                    <a href="/worldbuilding">Worldbuilding</a>
                </li>
            </ul>
        </nav>
        <button><a href="/public/videos/">video</a></button>
    </section>
</header>

<main>
    {{{body}}}
</main>

<script src="/finalsjs/finals.js" defer></script>
</body>
</html>